body{
    transition: all 0.5s ease;
    font-family: "Montserrat", sans-serif;
}
#toggle{
    display: none;
}
#label_toggle{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3em;
    color: darkblue;
    cursor: pointer;
}
.dark{
    background-color: #333;
    color: white;
    transition: all 0.5s ease;
}